<!DOCTYPE html>
{% load static %}

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>My App</title>
	<script src="{% static 'lib/jquery3.2.1.min.js' %}"></script>
	<!-- Path to Framework7 Library CSS-->
	<link rel="stylesheet" href="/static/lib/framework7/framework7.ios.min.css">
	<link rel="stylesheet" href="/static/lib/framework7/framework7.ios.colors.min.css">
	<!-- Path to your custom app styles-->
	<!--<link rel="stylesheet" href="css/my-app.css">-->

	<script src="{% static 'lib/screenfull.min.js' %}"></script>
	<script src='{% static "js/exfun.js?t="%}{{ stamp.exfun_js }}'></script>
	<link rel="stylesheet" href="{% static 'lib/weui.min.css' %}">
	<link rel="stylesheet" href="{% static 'lib/font-awesome4.7/font-awesome4.7.min.css' %}">
	<script src="{% static 'lib/vue2.3.2.js' %}"></script>
	<script src="{% static 'js/uis_mb.pack.js?t=' %}{{ stamp.uis_mb_pack_js }}"></script>


	<script src="{% static 'wallpaper/wallpaper.pack.js?t=' %}{{ stamp.wallpaper_js }}"></script>
</head>



<body class="start">
<!-- Status bar overlay for fullscreen mode-->
<!--<div class="statusbar-overlay"></div>-->
<!-- Panels overlay-->
<div class="panel-overlay"></div>
<!-- Left panel with reveal effect-->
<div class="panel panel-left panel-reveal">
	<div class="content-block">
		<div id="category">
			<div style="position: relative;">
				<div v-if="is_fullscreen" @click="exit_fullscreen()" style="display: inline-block;">
					<img style="width: 3em;" src="/static/image/exit_full.png" alt=""/></div>
				<div v-else @click="fullscreen()" style="display: inline-block;">
					<img style="width: 3em;" src="/static/image/full.png" alt=""/></div>
			</div>

			<p :class="{'active':crt=='daily'}"  @click="open_daily()">Latest Wallpaper</p>
			<div class="category">
				<p >Category</p>
				<p :class="['item',{'active':crt==category.name}]" v-for="category in categorys"  @click="open_category(category.name)">
					<span v-text="category.name"></span>
				</p>
			</div>

		</div>

	</div>
</div>
<!-- Right panel with cover effect-->
<div class="panel panel-right panel-cover">
	<div class="content-block">
		<p>Right panel content goes here</p>
	</div>
</div>
<!-- Views-->
<div class="views">
	<!-- Your main view, should have "view-main" class-->
	<div class="view view-main">

		<!-- Top Navbar-->
		<!--<div class="navbar">-->

		<!--</div>-->


		<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
		<div class="pages navbar-through toolbar-through">
			<!-- Page, data-page contains page name-->

			<div data-page="home" class="page no-navbar">
				<!-- Scrollable page content-->
				<div class="page-content _no_bottom no_top pull-to-refresh-content infinite-scroll">

					<div class="pull-to-refresh-layer">
						<div class="preloader"></div>
						<div class="pull-to-refresh-arrow"></div>
					</div>


					<div>
						<div id="image_list" class="image-list">

							<img v-for="image in image_list" :src="image.thumb_url" alt=""
								 @click="open_swiper(image)"/>

						</div>

						<div class="infinite-scroll-preloader">
							<div class="preloader"></div>
						</div>
					</div>




					<div class="popup popup-swiper">
						<div id="swiper" class="swiper-container">
							<!-- Slides wrapper -->
							<div class="swiper-wrapper">
								<!-- Slides -->
								<div class="swiper-slide" v-for="image in image_list">
									<span @click="toggle_panel()">
										<span v-if="!image.loaded">
											<img  :src="image.thumb_url" alt="" />
											<img v-show="false" :data-src="image.url" alt="" class="swiper-lazy"/>
										</span>
										<span v-if="image.loaded">
											<img  :src="image.url" alt="" />
										</span>
										<!--<div class="swiper-lazy-preloader"></div>-->

									</span>

								</div>
							</div>

							<div v-show="show_panel" style="position: fixed;z-index: 99999;bottom: 2em;left: 0;background-color: rgba(255,255,255,0.5);padding: 0.3em 1em;">
								<i @click="download()" class="fa fa-download fa-2x" aria-hidden="true"></i>
								<span style="display:inline-block;width: 2em;"></span>
								<i @click="back_to_list()" class="fa fa-list-ul fa-2x" aria-hidden="true"></i>
							</div>

						</div>
					</div>

				</div>
				<!--<div class="toolbar">-->
				<!--<div class="toolbar-inner"><a href="#" class="link">Link 1</a><a href="#" class="link">Link 2</a></div>-->
				<!--</div>-->



			</div>

		</div>
		<!-- Bottom Toolbar-->


	</div>
</div>

<script>
	var image_manager=new data.ImageManager()
	image_manager.load_more()

	var category_manager=new data.CategoryManager()
	category_manager.update()


if(window.java_obj){
	var now = Date.now()
	var elapse= now- java_obj.getStartTimestamp()
	if(elapse>4000){
		var delay=0
	}else{
		var delay=4000-elapse
	}
	setTimeout(function(){
		java_obj.contentShow()
	},delay)

}

$(function(){
category_vue=new Vue({
	el:'#category',
	data:{
		categorys:category_manager.categorys,
		crt:'daily',
		is_fullscreen:false,
	},

	methods:{
		open_category:function(cat){
			this.crt=cat
			image_manager.clear()
			image_manager.url_obj.set_category(cat)
			show_load()
			setTimeout(function(){
				image_manager.load_more(function(){
					hide_load()
					$('.infinite-scroll').scrollTop(0)
				})
			},200)

		},
		open_daily:function(){
			this.crt='daily'
			image_manager.clear()
			image_manager.url_obj.set_daily()
			show_load()
			Vue.nextTick(function(){
				image_manager.load_more(function(){
					hide_load()
					$('.infinite-scroll').scrollTop(0)
				})
			})

		},
		fullscreen:function(){
//			fullScreen()
			screenfull.request();
//			this.is_fullscreen=true

		},
		exit_fullscreen:function(){
			screenfull.exit()
//			exitFullScreen()
//			this.is_fullscreen=false
		}
	}
})
	screenfull.on('change',function(){
		category_vue.is_fullscreen= screenfull.isFullscreen
	})

mySwiper=null
	list_manager=new Vue({
		el:'#image_list',
		data:{
			image_list:image_manager.image_list,
		},
		computed:{
			has_next_page:function(){
				return image_manager.has_next_page
			},
		},
		methods:{
			load_more:function(){
				image_manager.load_more()
			},
			load_next_page:function(){
				alert('load')
			},
			open_swiper:function(image){
				var self=this
				state_stack.push(function(){
					swiper_manager.back_to_list()
				})
				myApp.popup('.popup-swiper')
				var index=this.image_list.indexOf(image)
				if(mySwiper){
					mySwiper.update(true)
					mySwiper.slideTo(index,0)
				}else{
					mySwiper = myApp.swiper('.swiper-container', {
						speed: 400,
						spaceBetween: 20,
						initialSlide:index,
						preloadImages:false,
						lazyLoading: true,
						onLazyImageLoad:function(swiper, slide, image){
							show_load()
//						console.log('start')
						},
						onLazyImageReady:function(swiper, slide, image){
							hide_load(200)
							var img_index= swiper.activeIndex
							Vue.set(self.image_list[img_index],'loaded',true)
//						console.log('end')

						},
						onSlideNextEnd:function(swiper){
							if(swiper.activeIndex >self.image_list.length-2){
								image_manager.load_more(function(){
									Vue.nextTick(function(){
										swiper.update(true)
									})

								})
							}
						}
					});
				}

			}
		}
	})

	swiper_manager=new Vue({
		el:'#swiper',
		data:{
			image_list:image_manager.image_list,
			show_panel:false,
		},
		mounted:function(){

		},
		methods:{
			toggle_panel:function(){
				this.show_panel = !this.show_panel
//				myApp.closeModal('.popup-swiper')
			},
			download:function(){

				var img_index= mySwiper.activeIndex
				var url = image_manager.image_list[img_index].url
//				var url ='/proxy_download?url='+encodeURIComponent(url)
				var domstr=ex.template('<a href="{url}" download="{name}">Download</a>',{url:url,name:'downloadedfile'})
				$(domstr)[0].click();
//				location='/proxy_download?url='+encodeURIComponent(url)

				myApp.addNotification({
					title: 'Download',
					message: 'Wallpaper has been download in backend! Find in in your download directory!',
					additionalClass:'download_msg'
				});
			},
			back_to_list:function(){
				myApp.closeModal('.popup-swiper')
			}
		}
	})

//	Vue.nextTick(function(){
//		list_manager.load_more()
//	})
})

</script>
<style>
	#category p.active{
		background-color: #d1edfc;
	}
	.category .item{
		padding-left: 1em;
	}
	.image-list{
		display: flex;
		flex-wrap:wrap;
	}
	.image-list img{
		display: block;
		width: 33.3333vw;
		height: 59.344256360655734vw;
		border-radius: 7px;
	}
	#swiper img{
		width: 100vw;
		/*height: 100vh;*/
		margin: auto;
	}
	#swiper .swiper-slide{
		text-align: center;
		height: 100vh;
	}
</style>

<!-- Path to Framework7 Library JS-->
<script type="text/javascript" src="/static/lib/framework7/framework7.min.js"></script>



<script>


	function init_page(){
		state_stack=[]
		add_history()
	}

	function add_history(){
		for(var i=0;i<3;i++){
			history.pushState({count:i},'')
		}
	}

	function cus_close(){
		window.opener=null;
		window.open('','_self');
		window.close();
	}
//	add_history()
	init_page()


	quit_ready=false
	function info_quit(){

		if(quit_ready){
			cus_close()
		}else{
			myApp.addNotification({
				title: 'warning',
				message: 'back one more time to quit App!',
				hold:3000,
				closeIcon:false,
				additionalClass:'bottom_msg',
			});
			quit_ready=true

			setTimeout(function(){
				quit_ready=false
			},3000)
		}
	}

	window.addEventListener('popstate', function (e) {

		if(mainView.history.length==1 && state_stack.length==0){
			info_quit()
		}

		var state= e.state
		if(state.count<1){
			add_history()
		}
		if(state_stack.length<=0){
			mainView.router.back()

		}else{
			var real_state= state_stack.pop()
			if(typeof(real_state) === 'function'){
				real_state()
			}
		}
		hide_load()

	}, false);


</script>


<div class="_full_wraper hide general-loader">
	<div class="general">
		<span style="width:42px; height:42px" class="preloader"></span>
	</div>
</div>

<script>
	$(function(){
		setTimeout(function(){
			$('body').removeClass('start')
			$('body').addClass('ready')
		})
	})
</script>

<style>
	.notifications .bottom_msg {top: 70vh; }
	.notifications .download_msg {top: 50vh; }
	body.start{
		opacity: 0;
	}
	body.ready{
		background-color: #f7f5f3;
		transition: all 0.2s ease;
	}

	._full_wraper{
		position: fixed;
		top:0;
		left:0;
		right:0;
		bottom: 0;
		z-index:999000;
		pointer-events: none;
	}
	.hide{
		display: none;
	}
	.general-loader .general{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}

	iframe { display: block; }
</style>



</body>
<script>
	var load_timer=null

	function show_load(timeout){
		var timeout= timeout || 10*1000
		$('.general-loader').removeClass('hide')

		if(load_timer){
			clearTimeout(load_timer)
		}
		load_timer =setTimeout(function(){
			myApp.alert('请检查网络问题', '加载超时');
			hide_load()
		},timeout)
	}
	function hide_load(time){
		if(load_timer){
			clearTimeout(load_timer)
			load_timer=null
		}
		var time= time || 20
		setTimeout(function(){
			$('.general-loader').addClass('hide')
		},time)
	}


//	function fullScreen() {
//		var el = document.documentElement;
//		var rfs = el.requestFullScreen || el.webkitRequestFullScreen ||
//				el.mozRequestFullScreen || el.msRequestFullScreen;
//		if(typeof rfs != "undefined" && rfs) {
//			rfs.call(el);
//		} else if(typeof window.ActiveXObject != "undefined") {
//			//for IE，这里其实就是模拟了按下键盘的F11，使浏览器全屏
//			var wscript = new ActiveXObject("WScript.Shell");
//			if(wscript != null) {
//				wscript.SendKeys("{F11}");
//			}
//		}
//	}
//	function exitFullScreen() {
//		var el = document;
//		var cfs = el.cancelFullScreen || el.webkitCancelFullScreen ||
//				el.mozCancelFullScreen || el.exitFullScreen;
//		if(typeof cfs != "undefined" && cfs) {
//			cfs.call(el);
//		} else if(typeof window.ActiveXObject != "undefined") {
//			//for IE，这里和fullScreen相同，模拟按下F11键退出全屏
//			var wscript = new ActiveXObject("WScript.Shell");
//			if(wscript != null) {
//				wscript.SendKeys("{F11}");
//			}
//		}
//	}

//	document.addEventListener("fullscreenchange", function( event ) {
//		console.log('fullscreenchange')
//		if ( document.fullscreen ){
//			category_vue.is_fullscreen=true
//		}else{
//			category_vue.is_fullscreen=false
//		}
//	})

//	$(function(){
//		var domstr='<button onclick="fullScreen()">Download</button>'
//		$(domstr)[0].click();
//
////		fullScreen()
//	})
</script>
<style>
	.infinite-scroll-preloader {
		margin-top:20px;
		margin-bottom: 10px;
		text-align: center;
	}
	.infinite-scroll-preloader .preloader {
		width:34px;
		height:34px;
	}
	.hide{
		display: none;
	}
</style>

<script>

	var myApp = new Framework7({
		modalTitle:'信息提示',
		modalButtonOk:'好的',
		modalButtonCancel:'不了',
		swipePanel:'left',


//        pushState:true,
//        swipeBackPage:true,
	});
	var $$ = Dom7;

	// Add view
	var mainView = myApp.addView('.view-main', {
		// Because we use fixed-through navbar we can enable dynamic navbar
		dynamicNavbar: true,
		domCache:true,

	});

	mainView.hideNavbar()


	var ptrContent = $$('.pull-to-refresh-content');
	ptrContent.on('refresh', function (e) {
		image_list.length=0
		image_manager.load_more(function(){
			myApp.pullToRefreshDone()
		})
	})

	var loading = false;
	$$('.infinite-scroll').on('infinite', function () {
		if(loading)return
		loading=true
		console.log('infinite load')
		if ( !image_manager.has_next_page) {
			// Nothing more to load, detach infinite scroll events to prevent unnecessary loadings
//			myApp.detachInfiniteScroll($$('.infinite-scroll'));
			// Remove preloader
			$$('.infinite-scroll-preloader').addClass('hide');
			loading=false
			return;
		}else{
			$$('.infinite-scroll-preloader').removeClass('hide');
		}

//		url_obj.page+=1
		image_manager.load_more(function(){
			loading=false
		})
	})



	function on_page_switch(page){

	}

	myApp.onPageAfterBack('*', function(page){

		on_page_switch(page.view.activePage)
	})

	$$(document).on('pageInit', function (e) {

		// Get page data from event data
		var page = e.detail.page;
		state_stack=[]

		if($('.page-on-right').attr('data-page')== page.name){
			on_page_switch(page)
		}

	})
</script>

</html>

